<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>fake data 1</td>
            <td>fake data 2</td>
            <td>fake data 3</td>
        </tr>
        <tr>
            <td>fake data 1</td>
            <td>fake data 2</td>
            <td>fake data 3</td>
        </tr>
        <tr>
            <td>fake data 1</td>
            <td>fake data 2</td>
            <td>fake data 3</td>
        </tr>
        <tr>
            <td>fake data 1</td>
            <td>fake data 2</td>
            <td>fake data 3</td>
        </tr>
        <tr>
            <td>fake data 1</td>
            <td>fake data 2</td>
            <td>fake data 3</td>
        </tr>
    </tbody>
</table>