<ul class="list-group">
    <li class="list-group-item"><a href="">link number 1</a></li>
    <li class="list-group-item"><a href="">link number 2</a></li>
    <li class="list-group-item"><a href="">link number 3</a></li>
    <li class="list-group-item"><a href="">link number 4</a></li>
    <li class="list-group-item"><a href="">link number 5</a></li>
    <li class="list-group-item"><a href="">link number 6</a></li>
    <li class="list-group-item"><a href="">link number 7</a></li>
    <li class="list-group-item"><a href="">link number 8</a></li>
    <li class="list-group-item"><a href="">link number 9</a></li>
    <li class="list-group-item"><a href="">link number 10</a></li>
</ul>